body {
      background: black;
      /* display: flex; */
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .header{
    margin-bottom: 30px;
}
 .header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
 }
 .header-img img{
    width: 90px;
    /* margin-left: 50px; */
 }

 .nav-list{
    display: flex;
    gap: 22px;
    align-items: center;
    list-style: none;
 }
 .nav-list a{
    color:white;
    padding: 8px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 21px;
 }

   .btn{
      border-radius: 25px;
      border: 8px solid transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-right: 20px;
    }

    .btn a{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    .btn-login a {
      color: #333;
    }
    .header-inner div .btn-signup{
        font-size: 15px;
        background-color: darkgoldenrod; 
      /* color: #fff; */
    }


    .form-box {
      background: black;
      padding: 40px;
      margin-left: 400px;
      border: 1px solid #FFD700;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 350px;
      text-align: center
    }

    .form-box h2 {
      margin-bottom: 20px;
      color: goldenrod;
    }

    .form-box input {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    .form-box button {
      width: 100%;
      padding: 12px;
      background: goldenrod;
      color: white;
      border: none;
      border-radius: 25px;
      font-size: 16px;
      margin-top: 10px;
    }

    
    .form-box p {
      margin-top: 15px;
      font-size: 14px;
      color: white;
    }

    .form-box a {
      color: white;
      text-decoration: none;
    }

     @media only screen and (max-width:850px){
    .header-inner{
       display: none;
    }
    .form-box{
      align-content: center;
    }
  }